<!doctype html>
<html>
    <head>
        <title>School Simulator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    </head>
    <body>
        <!-- TODO: Inject this entire nav section -->
        <nav class="navbar mb-4 px-3" role="navigation" aria-label="main-navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">School Simulator</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <!-- TODO: Template in these fields -->
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="formNavBar">
                <div class="navbar-start">
                    <!-- TODO: Template in these fields -->
                    <a href="/" class="navbar-item">Dashboard</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">People</a>
                        <div class="navbar-dropdown">
                            <a href="/person" class="navbar-item">Everyone</a>
                            <hr class="navbar-divider">
                            <a href="/person?type=student" class="navbar-item">Students</a>
                            <a href="/person?type=alumni" class="navbar-item">Alumni</a>
                            <a href="/person?type=employee" class="navbar-item">Employees</a>
                            <a href="/person?type=faculty" class="navbar-item">Faculty</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="/places" class="navbar-link">Places</a>
                        <div class="navbar-dropdown">
                            <a href="/places?type=building" class="navbar-item">Buildings</a>
                            <a href="/places?type=room" class="navbar-item">Rooms</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="/groups" class="navbar-link">Groups</a>
                        <div class="navbar-dropdown">
                            <a href="/groups?type=department" class="navbar-item">Departments</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <a href="https://github.com/usd-cs/comp305-final-project-sp24-s01s02-jj" class="navbar-item" target="_blank">About</a>
                </div>
            </div>
        </nav>
        <!-- Use hero to pin footer to bottom of page -->
        <div class="hero is-fullheight">
            <nav class="level mx-3">
                <!-- Left side -->
                <div class="level-left">
                    <div class="level-item">
                        <h3 class="title is-3">Error</h3>
                    </div>
                </div>
            </nav>
            <div class="box mx-3">
                <article class="message is-warning">
                    <div class="message-header">
                        <p>404 File Not Found</p>
                    </div>
                    <div class="message-body">
                        Sorry, the file you requested does not exist. Please navigate back to <a th:href="@{/}">home</a>
                    </div>
                </article>
            </div>
            <footer class="footer mt-auto">
                <div class="content has-text-centered">
                    <p>
                    School Simulator by Andrew Albizati, Noah Huang, John Phillips
                    </p>
                </div>
            </footer>
        </div>
    </body>
</html>
